* {
  /* todos los elementos
  
  selectores
  # -> ID
  . -> CLASE
  div h1 -> elementos h1 dentro de un div
  div, h1 -> 2 tipos de elementos
  COLOR -> hexa , rgb o nombre
  unidades de medida px ,em,rem %
  
    viewport -> define el area visible de la pagina web
    

  */
}

html{
  scroll-behavior:smooth;
}

form {
  align-items: center;
  text-align: center;
}
body {
  font-family: "Roboto", sans-serif;
}

.contando-cosas{
  font-family:'Montserrat', sans-serif;
  text-align: justify ;
  
}

.iconoss{
  height: auto;
  width: 150px;
}
.contando-cosas span {
  color: gray;
  text-align: justify ;
}

.info-principal{
  font-family:'Montserrat', sans-serif;
}


.miinput {
  border-radius: 10px;
  border: 1px solid;
  font-style: "Roboto", "sans-serif";
  height: 20px;
  padding-left: 10px;
}
.miinput2 {
  margin-left: 20px;
  font-style: normal;
  border: none;
  border-bottom: #106ba0 solid;
  height: 25px;
  padding-left: 5px;
}
.enviar {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #106ba0;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}
.enviarinput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.miform textarea{
  margin-left: 15px;
  margin-top: 15px;
  height: 60px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.miform button{
  align-items: center;
  width: 100%;
  background-color: grey;
  margin-left: 15px;
  padding: 10px;
  letter-spacing: 1.4px;
  color: white;
  border: none;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;}


.miform input , textarea {
  margin-top: 30px;
  outline: none;
  padding: 10px;
  letter-spacing: 1.4px;
  color: grey;
  border-bottom-color: grey;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  display:inline-flex ;
  place-content: center;
  font-family: 'Montserrat', sans-serif ;
  margin: 15px;
  width:100%;
}

.icono{
  width: 100%;
}

footer{
    vertical-align: middle;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    background: #191919;
    height: 150px;
}
/* margin border padding content */
